body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: white;
}

.header {
  background: black;
  text-align: center;
  padding: 20px 10px;
}

.logo-img {
  height: 80px;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.nav-links li {
  display: inline-block;
  margin: 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero span {
  color: red;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: red;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
